
@use "abstracts/variables";
@use "abstracts/mixins";


@use "base/reset";
@use "base/base";
@use "base/typography";


@use "components/header";
@use "components/footer";
@use "components/buttons";
@use "components/cards";
@use "components/forms";


@use "pages/alta";
@use "pages/contacto";
@use "pages/nosotros";

main {
  margin-top: 60px;
}