@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.cards-container {
  max-width: v.$container-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}

.card {
  background: v.$color-black;
  color: v.$color-white;
  border-radius: v.$border-radius;
  padding: 0.5rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: v.$transition-base;
  text-align: center;
  flex: 0 1 250px;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: v.$border-radius;
    margin-bottom: 0.5rem;
    border: 2px solid v.$color-silver;
    transition: transform 0.3s ease;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:hover img {
    transform: scale(1.1);
  }
}
