@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  background-color: v.$color-dark;
  color: v.$color-primary;
  padding: 2rem 1rem;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__section {
    flex: 1 1 200px;

    h3 {
      color: v.$color-gold;
      margin-bottom: 0.5rem;
    }

    ul {
      li {
        margin-bottom: 0.25rem;
      }
    }
  }

  &__copy {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.85rem;
    color: v.$color-secondary;
  }
}
