@use '../abstracts/_variables.scss' as v;

body {
  font-family: v.$font-primary;
  background-color: v.$color-black;
  color: v.$color-white;
  line-height: 1.6;
    padding-top: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
