@use '../abstracts/variables' as v;

html {
  font-size: 16px;
}

body {
  font-family: v.$font-primary;
  line-height: 1.6;
  color: v.$color-primary;

}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem; 
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.2rem;
}

h1, h2, h3, h4 {
  font-family: v.$font-secondary;
  font-weight: 700;
}


p {
  color: v.$color-gray;
  font-size: 1.05rem;
  margin-bottom: 0.75rem;
}
