$color-black: #0f0f0f;
$color-white: #ffffff;
$color-gray: #9ca3af;

$color-gold: #c9a227;
$color-silver: #cfd2d6;

$color-dark: $color-black;
$color-primary: $color-white;
$color-secondary: $color-gray;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ms+Madi&display=swap');

$font-primary: 'Ms Madi', italic;
$font-secondary: 'Lobster', sans-serif;


$container-width: 1200px;
$border-radius: 12px;
$radius: $border-radius;

$transition-base: all 0.3s ease;
